<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capstone.fresco">
    <!-- Include required permissions for Google Mobile Ads to run. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fresco">
        <activity android:name=".ui.HistoryActivity"></activity>
        <activity android:name=".ui.ProfileActivity" />
        <activity android:name=".ui.auth.password.ResetPassActivity" />
        <!--
            Adding this meta data is required as of Google Mobile Ads SDK version 17.0.0 as explained in
            https://developers.google.com/ad-manager/mobile-ads-sdk/android/quick-start#update_your_androidmanifestxml
        -->
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <!--
        This is the sample AdMob App ID. Insert your own AdMob App ID in quotes
        https://googlemobileadssdk.page.link/admob-android-update-manifest
        -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7074988547859559~4566243771" />

        <activity android:name=".ui.main.CameraFruitActivity" />
        <activity android:name=".ui.main.CameraPlantActivity" />
        <activity android:name=".ui.auth.password.ChangePassActivity" />
        <activity android:name=".ui.auth.signup.SignUpActivity" />
        <activity android:name=".ui.auth.login.LoginActivity" />
        <activity android:name=".ui.auth.AuthActivity" />
        <activity android:name=".ui.onboarding.OnboardingThree" />
        <activity android:name=".ui.onboarding.OnboardingTwo" />
        <activity android:name=".ui.onboarding.OnboardingOne" />
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>